@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.Info{
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr;
    grid-column-gap: 1rem;
    justify-items: self-end;
    align-items: center;
    border-bottom: 1px solid #ccc;
    height: 45px;
    align-items: center;
    padding: 0 12px;
    box-sizing: border-box;
    font-size: 0.95rem;
    font-weight: 600;
    margin-bottom: 5px;
    
    .InfoHolder{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-self: self-start;


        .SessionCss{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .DoctorDispNameCss {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        justify-self: center;
        max-width: calc(100% + 1em);
    }
}

.BookedSlot{
    border: 1px solid;
    background-color:$ms-color-green;
    color: $ms-color-white;
    border-radius: 5px;
}

.AvailableSlot{
    border: 1px solid;
    border-color:$ms-color-themePrimary;
    color: $ms-color-themePrimary;
    border-radius: 5px;
}

.NotBookedForMe{
    opacity: 0.3;
}

.ButtonStyling{
    height: 85%;
    width: 60%;
    /* cursor: pointer; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    background-color: transparent;

    &:focus{
        outline: none;
    }

    &:active{
        outline: none;
    }
}