@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.Header{
    height: 10%;
    background: $ms-color-themePrimary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .LeftLogo{
        background-image:url("https://team.effem.com/sites/myAnalytics/SiteAssets/__sitelogo__Picture1.png");
        width:20%;
        background-repeat:no-repeat;
    }
    .RightLogo{
        background-image:url("https://team.effem.com/sites/myAnalytics/SiteAssets/__sitelogo__Logo1.jpg");
        width:20%;
        background-repeat:no-repeat;
    }
}



