@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';


.TopicSelectionLabel{
    padding: 12px;

    .TopicLabel{
        font-size: 16px;
        color: #fff;
        font-weight: 600;
        width: 50%;
    }
}