.previousWeekButton{
    height: 75%;
    width: 25%;
    cursor: pointer;
    margin-left: 1%;
    background-image: url(https://team.effem.com/sites/MarsISApps/SiteAssets/Images/prevWeek.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;


    &:focus{
        outline: none;
    }

    &:active{
        outline: none;
    }
}