.LeftSection{
    width: 95%;

    .TextFieldSection{

        div[class^="ms-TextField-fieldGroup fieldGroup_"] input{
            font-weight: 500;
        }
    }

    .TextMultiLineFieldSection{

        div[class^="ms-TextField-fieldGroup fieldGroup_"] textarea{
            font-weight: 500;
        }
    }
}