@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.Info{
    display: flex;
    width: 100%;    
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    box-sizing: border-box;
    padding-right: 17px;
    font-weight: bold;
    
    .InfoHolder{
        display: flex;

    .SessionCss{
        margin-left: 13px;
        white-space: nowrap;
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 0;
        width: 250px;
    }
  }

  .DoctorDispNameCss{
    margin-left: 13px;
    max-width: 210px;
    white-space: nowrap;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
  }
}
.CurrLoggedInUserStyles{
    border: 1px solid;
    border-color:$ms-color-themePrimary;
    color: $ms-color-themePrimary;
    border-radius: 5px;
}

.OtherUsersDataStyles{
    opacity: 0.5;
}