@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';


.RegistrationPortal{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;

    .HeaderContainer{
        height: 20%;
        width: 100%;

        .Header{
            font-size: 1.17em;
            line-height: 2em;
        }
    }

    .BodyContainer{
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 20px;

        .LeftContainer{
            height: 100%;
            width: 50%;
        }

        .RightContainer{
            height: 100%;
            width: 50%;
        }

    }

}